a:hover {
    text-decoration: none !important;
}

.call-to-action p{
    font-family: 'Raleway', sans-serif;
    color: #2e2e2e;
    font-size: 6px;
    margin-bottom: 0 auto;
    padding-bottom: -100px;
}


.call-to-action img {
    padding-top: -100px;
    max-width: 40px;
    max-height: 40px;
}

header {/*
    background-color: #eeeeee;*/
    width: 100%;
}

body {/*
    background-color: #eeeeee;*/
    width: 100%;
}

p {
    font-family: 'Raleway', serif;
    size: 1rem;
    font-weight: 300;
}

h1 {
    font-family: 'Allura', serif !important;
    color: #2e2e2e;
}

h2,
h3 {
    font-family: 'Raleway', sans-serif;
    color: #2e2e2e;
}

h5 {
    font-family: 'Dosis', sans-serif;
    font-size: 12px !important;
}


nav {
    margin: 50px;
}

nav a {
    padding: 20px;
    color: #2e2e2e;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

nav a:hover {
    color: #222;
    text-decoration: none;
}
/*
a {
    color: #000;
}

a:hover {
    text-decoration: none !important;
    color: #000 !important;
}*/

/* Button Styles */

.btn {
    opacity: .5;
}

.button:active {
    transform: translateY(2px);
}

/* About Section Styles */

.modal-body {
    color: #2e2e2e;
}

.modal-section {
    padding: 10px 20px;
}

/* About Section Styles */

.emoji {
    max-width: 30px;
    max-height: 30px;
}

.about-image {
    border-radius: 50%;
    position: static;
    max-width: 200px;
    max-height: 200px;
    margin: 50px 50px;
}

/* General Section Styles */

.container {
    width: 100%;
    margin: 0;
}

.container-fluid {
    padding: 0px;
}

.section-header {
    padding: 30px;
    position: static;
    font-family: "Allura";
    color: #2e2e2e;
}

.text-section {
    max-width: 60%;
}

.logoName h1 {
    padding: 0 50px;
    margin: 0 auto;
    font-size: 100px;
    justify-content: center;
    font-family: "Allura", serif;
    line-height: -50px;
    text-shadow: 3px 3px #967884;

}

.logoName h3{
    margin: 0 auto;
    padding: 0 70px;
    font-size: 1.5em;
    justify-content: center;
    font-family: "Raleway", serif;
    text-shadow: 2px 2px #967884;

}

.main-container {/*
    background: #eee;*/
    position: relative;
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-shadow: 1px 1px #967884;
}

/* Hover Styles */

.enlarge {
    transition: .2s;
    filter: drop-shadow(2px 2px 2px #707070);
    margin: 0 auto;
}

.enlarge:hover {
    transform: scale(1.05);
    text-decoration: none;
    -webkit-filter: drop-shadow(5px 5px 5px #2e2e2e); 
    filter: drop-shadow(5px 5px 5px #2e2e2e);
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transtition: .2s;
    -webkit-transition: .2s;
    transition: .2s;

}

/*Footer Styles*/

.footer {
    background: #2e2e2e;
    color: #eee;
    padding: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}


.footer h3 {
    padding: 20px;
    color: #eee;
}

.contact-icon {
    max-width: 75px;
    max-height: 75px;
    padding: 10px;
}

#contact h1 {
    font-family: 'Allura', sans-serif;
    font-size: 6em;
    text-shadow: 3px 3px #967884;
}

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: contain;
	}
	.slide{
        width: 100%;
        padding-bottom: 100px;
	}

    #section1 {
        background: -webkit-gradient(linear, top left, bottom left, from(#967884), to(#e1bdcc));
        background: -webkit-linear-gradient(#967884, #e1bdcc);
        background: linear-gradient (#967884, #e1bdcc);
        color: #eee;
    }
    #section2 {
        max-width: 100%;
        float: right;
        background-color: #eee !important;
    }

    #contact {
        z-index: 1;
        background: -webkit-gradient(linear, top left, bottom left, from(#e1bdcc), to(#967884));
        background: -webkit-linear-gradient(#e1bdcc,#967884);
        background: linear-gradient (#e1bdcc,#967884);
        color: #eee;
    }

    	/* Responsive Sections
    * --------------------------------------- */
    @media screen and (max-width: 1020px) {
        .row {
            float: none;
            width: auto;
        }

        #section1 h3, h1, p {
            text-align: center !important;
            justify-content: center;
        }

        #section1 {
            margin: 0 auto;
        }

        .about-image {
            margin: 0 auto;
            max-width: 30%;
        }

        .logoName h1 {
            font-size: 4em;
        }

        .main-container h3, p {
            font-size: 1em;
        }
    }