
@font-face {
    font-family: "signatureFont";
    src: url('5th-grade-cursive/5thgradecursive-2.ttf')
}

header {
    width: 100%;
}

body {
    width: 100%;
}

#home {
    height: 100vh !important;
    /* The image used */
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
    background-color: #f8f3e6;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

#things h1 {
    font-size: 2rem;
    font-family: "signatureFont" !important;
    padding: 100px;
}

#things {
    padding: 30px 30px;
}

.image-bg {
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
    background-color: #f8f3e6 !important;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

#contact {
    padding-top: 100px;
    /* The image used */
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
    background-color: #f8f3e6 !important;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
}

p {
    font-family: 'Nunito', serif;
    size: 1rem;
    font-weight: 400;
}

h1 {
    font-family: 'Nunito', serif !important;
    font-weight: 600;
    color: #2e2e2e;
}

h2,
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #2e2e2e;
}

h4 {
    font-family: 'Nunito', sans-serif;
    color: #2e2e2e;
    font-size: 2rem;
}

h5 {
    font-family: 'Nunito', sans-serif;
    font-size: 12px !important;
}

.navbar {
    background: transparent !important;
    padding: 10px 10px;
    line-height: 15px;
    max-height: 20px;
    display: inline;
}

.navbar-item {
    color: gray;
    text-transform: uppercase;
    font-size: .80rem;
    margin-right: 20px;
}

.navbar a:hover {
    color: #691a14 !important;
    border-top: 1px solid gray;
    transition: 2s !important;
}

#contact-form {
    display: block;
    max-width: 1000px;
}

.button {
    font-size: 1rem;
    max-width: 50%;
    float: right;
}

.field,
input[type=text],
input[type=email] {
    width: 100%;
    box-shadow:0px 2px 3px #BBB7BD;
    border-radius: 5px !important;
}

input[type=text]:focus {
    color: #000 !important;
    transition: .2s;
}

input[type=email]:focus {
    color: #000 !important;
    transition: .2s;
}

textarea {
    width: 100%;
    box-shadow: 0px 2px 3px #BBB7BD;
    border-radius: 5px !important;
}

textarea:focus {
    color: #000 !important;
    transition: .2s;
}

.work-nav li {
    display: inline;
    text-transform: uppercase;
    padding: 10px 10px;
    color: #aaa;
}

.icons {
    font-size: 30px;
    padding: 30px 20px;
    color: #d2933b;
}

hr {
    background-color: #d2933b !important;
    width: 100%;
    margin-top: -50px !important;
    margin-left: 100px !important;
    align-content: right;
}

/* About Section Styles */
.flowers {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: -150px;
    max-height: 1000px;
    opacity: 1;
}

#about {
    padding-top: 150px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    width: 100%;
}

#about h4 {
    font-size: 1.5rem;
    color: #691a14;
    font-family: 'Nunito', sans-serif;
}

/* General Section Styles */
.about-1,
.about-2 {
    letter-spacing: .8px;
    line-height: 1.6;
    z-index: 4;
}

.about-1 {
    font-size: 1.2rem !important;
}

.about-2 {
    font-size: 1rem !important;
}

.container {
    width: 100%;
}

.logoName h1 {
    padding-top: 200px;
    margin: 0 auto;
    font-size: 5rem;
    font-family: "signatureFont" !important;
    color: #691a14;
    text-shadow: 3px 3px #f8f3e6;
}

.logoName h3 {
    padding: 30px 30px;
    font-size: 70px;
    font-family: "signatureFont" !important;
    color: #691a14;
    text-shadow: 3px 3px #f8f3e6;
}

.big-number {
    font-size: 3rem;
    padding-top: 10px;
    font-family: "Nunito";
    font-weight: 400;
}

.portfolio-hero-img {
    margin-top: -50px;
    margin-bottom: 150px;
    position: absolute;
}

.portfolio-text {
    font-family: "Nunito" !important;
    max-width: 70%;
    letter-spacing: .5px;
}

.work-info {
    font-size: .7rem !important;
    font-family: "Nunito";
    text-transform: uppercase;
    line-height: 14px;
}

.work-summary {
    font-size: .9rem !important;
    font-family: "Nunito";
    line-height: 20px;
}

.dont-click {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-filter: drop-shadow(2px 2px 2px #f8f3e6);
    filter: drop-shadow(2px 2px 2px #f8f3e6);
}

.main-container {
    color: #691a14;
    width: 100%;
    margin-left: 100px !important;
    text-shadow: 1px 1px #f8f3e6;
}

/* Hover Styles */
.screens {
    -webkit-filter: drop-shadow(2px 2px 2px #d9d9d9);
    filter: drop-shadow(2px 2px 2px #d9d9d9);
}

.enlarge {
    transition: .2s;
}

.enlarge:hover {
    transform: scale(1.05);
    text-decoration: none;
    -webkit-filter: drop-shadow(5px 5px 5px #d9d9d9);
    filter: drop-shadow(5px 5px 5px #d9d9d9);
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transtition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

.icons:hover {
    color: #691a14;
}

#contact h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #f8f3e6;
    font-size: 6em;
    text-shadow: 3px 3px #691a14;
}

/* Responsive Sections
    * --------------------------------------- */
@media screen and (max-width: 1020px) {
    .flowers {
        height: 100%;
        margin-top: -500px;
        z-index: 1;
    }

    #home h3,
    h1,
    p {
        padding-left: 50px;
    }

    #home {
        margin-top: -70px;
        z-index: 6;
        height: 100vh !important;
        line-height: 50px;
    }

    #portfolio {
        text-align: center;
        align-content: center;

    }
    
    .personas {
        width: 100%;
    }

    .logoName h1 {
        font-size: 4em;
        padding-left: 30px;
    }

    .logoName h3 {
        font-size: 3rem;
        text-align: center;
    }

    .main-container {
        margin: 0 auto !important;
        padding: 0 0;
    }

    .main-container h3,
    p {
        font-size: 1em;
    }
} */

/* Animated Intro */

.animate-reveal {
    letter-spacing: 1px;
    opacity: 0;
    -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
    -moz-animation: reveal 2s ease-in 1 normal forwards;
    -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
    animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay: 0;
    animation-delay: 0;
}

.animate-second {
    -webkit-animation-delay: 500ms;
    -moz-animation-delay: 500ms;
    -o-animation-delay: 500ms;
    animation-delay: 500ms;
}

.animate-third {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100f);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/*tab display content*/
.tab {
    overflow: hidden;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

/* Style the buttons that are used to open the tab content */
.tab li {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab li:hover {
    border-top: 1px solid #aaa;
}

/* Create an active/current tablink class */
.tab li.active {
    color: #2e2e2e;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* experimental code fade in effect */
@keyframes fade-in {
    from {opacity: 0; transform: scale(.9,.9)}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 1.7s;
}
.hidden {
    opacity: 0;
  }