.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio-nav {
    color: #eee !important;
    background: -moz-linear-gradient(#a29fb8, #fff);
    background: -webkit-linear-gradient(#a29fb8, #fff);
    background: linear-gradient (#a29fb8, #fff);
    font-family: 'Dosis';
}

.port-nav-logo {
    font-size: 50px;
    background: -webkit-linear-gradient(#e1bdcc, #fffaeb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 5px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    display:inline-block;
    position:relative;
    cursor: pointer;
    background: none; 
    z-index:0;
    width: 100%;
  }
  .sidenav a:before {
    content: "";
    position: absolute;
    z-index:-1;
    top: 0;  left: 0;  right: 0;  bottom: 0;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .3s ease-out;
  }
  .sidenav a:hover:before{transform: scaleX(1);}

.sidenav a:hover {
    text-decoration: none;
    color: #a29fb8;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transtition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.main {
    margin-left: 100px;
    /* Same as the width of the sidenav */
    padding: 0px 10px;
    width: 90%;
    overflow: hidden;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#portfolio-head {
    background: -webkit-linear-gradient(#e1bdcc, #fffaeb);
    background: linear-gradient (#e1bdcc, #fffaeb);
}

/*Portfolio Styles*/

.portfolio {
    padding-bottom: 50px;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-image {
    size: contain;
    position: center;
    width: 400px;
    height: 400px;
}

.portfolio-container {
    margin: 0 auto;
    width: 100%;
    align-content: center;
}

/*
.portfolio .main-container,
h1 {
    color: #2e2e2e;
    z-index: 1;
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform: skewY(-6deg);
    font-size: 6em;
    text-align: right;
}
*/

.portfolio h5 {
    font-family: 'Raleway', serif;
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px;
}

.portfolio p {
    font-size: 1em;
    padding: 10px;
}

.portfolio-header {
    font-family: "Allura", serif;
    text-align: center;
    margin: 50px 50px;
}

.portfolio-main {
    text-align: center;
    font-family: "Raleway", serif;
    margin: 0 auto;
}

.portfolio-main i {
    padding-left: 40px;
    padding-right: 40px;
    font-size: .75em;
}

.portfolio-item {
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    display: contain;
    width: 100%;
    padding-bottom: 20px;
    color: #2e2e2e;
}

.portfolio-item img {
    width: 80%; 
    margin-top: -100px; 
}


.portfolio-section {
    color: #2e2e2e;
    margin-left: 80px;
}

.portfolio-section h1 {
    text-align: center;
    font-size: 6em;
    margin: 30px 10px;
}

.portfolio-section h4 {
    margin: 25px 0px;
    font-size: 2em;
    padding: 10px 10px;
    font-family: 'Raleway', sans-serif;
}

.portfolio-section h3 {
    margin: 25px 0px;
}

.portfolio-section p, li, ul {
    font-family: 'Dosis', sans-serif !important;
}

@media screen and (max-width: 1020px) {
    .portfolio-nav {
        visibility: hidden;
    }

    .main {
        width: auto;
    }

    .portfolio-section h1 {
        font-size: 3em;
    }

    .portfolio-image {
        visibility: hidden;
    }
}