/* Reset CSS */
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
	margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
  	font-size: 100%;
  	background: transparent; 
}

nav {
	display: inline;
}

h1 {
	color: DarkOliveGreen;
}

/* Header Styling */
header {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	z-index: 10;
	width: 100%;
	padding-bottom: 20px;
}
